*{
    margin: 0px;
    padding : 0px;
}
body{
    background-image: url("1697558893351.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    border: 2px solid black;
    width: 255px;
    height : 170px;
    background-color:bisque;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 2px 2px 12px 6px #fff;
    margin: 250px 38% 0px;
    color: #000000;
}
.gap1{
    height: 8px;
}
.gap2{
    height: 20px;
}
.center{
    margin: 0px 50%;
}
.login{
    color: rgb(180, 68, 3);
    margin: 10px;
    float: left;
	font-size: 30px;
    position: absolute;
    left: 46%;
}
.register{
    font-size: 20px;
    margin-top:14px;
    margin-left: 39.5%;
}
#reg{
    
    color: rgb(17, 0, 255);
    text-decoration: none;
}