body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Set your background color */
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 90%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}
